@Html.Partial("HeadPage.cshtml")
@Html.Partial("NavPage.cshtml")
<body class="landing-page sidebar-collapse">
    <div class="wrapper">
        <div class="page-header page-header-small">
            <div class="page-header-image" data-parallax="true" style="background-image: url('../assets/img/greenbackground_img.png');">
            </div>
            <div class="content-center">
                <div class="container" style="margin: 50px 0 0 0">
                    <h1 class="title">Welcome To My Webpage!</h1>
                    <h3>I'm Huiji Jo, a growing developer</h3>
                    <div class="container" >
                        <div class="photo-container">
                            <img src="../assets/img/my_profile.jpg" alt=""style="width:200px; height:200px; border-radius:50%; margin:30px 0 0 0;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-about-us" style="background-color: #F2E7C4">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Who I am?</h2>
                        <h5 style="color:black">현재 동아대학교 재학 중이며 부경대학교 IoT 개발자과정을 진행하고 있습니다.</br>Html, C#, C 등 다양한 언어를 공부 중입니다.</h5>
                    </div>
                </div>
                <div class="separator separator-primary"></div>
                <div class="section-story-overview">
                    <div class="row">
                        <div class="col">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


