@Html.Partial("HeadPage.cshtml")
@{
    ViewData["Title"] = "_LoginLayout";
}
<html lang="en">
<body class="login-page sidebar-collapse">
    @Html.Partial("NavPage.cshtml")
    <div class="page-header clear-filter" filter-color="orange">
        <div class="page-header-image" style="background-image:url(../assets/img/login.jpg)"></div>
        <div class="content">
            <div class="container">
                <div class="col">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("FooterPage.cshtml")
</body>

</html>

