<!DOCTYPE html>
<html lang="en">
@{
    ViewData["Title"] = "_LoginLayout";
}
@Html.Partial("HeadPage.cshtml")

<body class="login-page sidebar-collapse">
    @Html.Partial("NavPage.cshtml")
    <div class="page-header clear-filter" filter-color="#F2E7C4">
        <div class="page-header-image" style="background-color: #037F8C"></div>
        <div class="content">
            <div class="container">
                <div class="col">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("FooterPage.cshtml")
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

