<!DOCTYPE html>
<html lang="en">
@{
    ViewData["Title"] = "_ProfileLayout";
}

@Html.Partial("HeadPage.cshtml")
@Html.Partial("NavPage.cshtml")
<body class="profile-page sidebar-collapse">

    <div class="wrapper" style="height: 100px">
        <div class="page-header clear-filter page-header-small" style="height:100px">
            <div class="page-header-image" style="background-color: #037F8C;">
            </div>
        </div>
        <div class="row">
            @RenderBody()
        </div>
    </div>

</body>
</html>

