
@{
    ViewData["Title"] = "_ProfileLayout";
}

<!DOCTYPE html>
<html lang="en">
@Html.Partial("HeadPage.cshtml")

<body class="profile-page sidebar-collapse">
    @Html.Partial("NavPage.cshtml")
    <div class="wrapper">
        <div class="page-header clear-filter page-header-small" filter-color="orange">
            <div class="page-header-image" data-parallax="true" style="background-image:url('../assets/img/bg5.jpg');"></div>
            <div class="container">
                @RenderBody()
            </div>
        </div>
        @Html.Partial("FooterPage.cshtml")
    </div>
</body>

</html>

