@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "NavPage";
}

<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent " color-on-scroll="300">
    <div class="container">
        <div class="navbar-translate">
            <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar top-bar"></span>
                <span class="navbar-toggler-bar middle-bar"></span>
                <span class="navbar-toggler-bar bottom-bar"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-0">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Profile">
                    <i class="material-icons">assignment_ind</i>Profile
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Portpolio">
                    <i class="material-icons">assignment</i>Portpolio
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Contact" asp-action="Index">
                    <i class="material-icons">phone</i>Contact
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Board" asp-action="Index">
                    <i class="material-icons">dashboard_customized</i>Board
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">
                    <i class="material-icons">lock_open</i>Login
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/zizi0308">
                    <i class="material-icons">face</i>My GitHub
                </a>
            </li>
        </ul>
    </div>
</nav>

