
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="section section-contact-us text-center m-5" style="height:600px">
    <div class="container">
        <h2 class="title" style="color:black">Want to work with me?</h2>
        <p class="description" style="color:black">채용에 관심이 있으신 분들은 여기로 연락바랍니다.</p>
        <div class="row">
            <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                <div class="input-group input-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="now-ui-icons users_circle-08"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Name...">
                </div>
                <div class="input-group input-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="now-ui-icons ui-1_email-85"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Email...">
                </div>
                <div class="textarea-container">
                    <textarea class="form-control" name="name" rows="4" cols="80" placeholder="Type a message..."></textarea>
                </div>
                <div class="send-button">
                    <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg">전송</a>
                </div>
            </div>
        </div>
    </div>
</div>

