
@{
    ViewData["Title"] = "Portpolio";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<div class="section">
    <div class="container">
        <h2 class="title text-center">My Portfolio</h2>
    </div>
    <!-- Tab panes -->
    <div class="tab-content gallery">
        <div class="tab-pane active" id="home" role="tabpanel">
            <div class="col-md-10 ml-auto mr-auto">
                <div class="row collections">
                    <div class="col-md-6">
                        <img src="../assets/img/img_20210319_180357_002.png" alt="" class="img-raised">
                        <img src="../assets/img/img_20210323_170334_001.png" alt="" class="img-raised">
                    </div>
                    <div class="col-md-6">
                        <img src="../assets/img_20210408_150442_001.png" alt="" class="img-raised">
                        <img src="../assets/img/img_20210505_190507_001.png" alt="" class="img-raised">
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="profile" role="tabpanel">
            <div class="col-md-10 ml-auto mr-auto">
                <div class="row collections">
                    <div class="col-md-6">
                        <img src="../assets/img/bg6.jpg" class="img-raised">
                        <img src="../assets/img/bg11.jpg" alt="" class="img-raised">
                    </div>
                    <div class="col-md-6">
                        <img src="../assets/img/bg7.jpg" alt="" class="img-raised">
                        <img src="../assets/img/bg8.jpg" alt="" class="img-raised">
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="messages" role="tabpanel">
            <div class="col-md-10 ml-auto mr-auto">
                <div class="row collections">
                    <div class="col-md-6">
                        <img src="../assets/img/bg3.jpg" alt="" class="img-raised">
                        <img src="../assets/img/bg8.jpg" alt="" class="img-raised">
                    </div>
                    <div class="col-md-6">
                        <img src="../assets/img/bg7.jpg" alt="" class="img-raised">
                        <img src="../assets/img/bg6.jpg" class="img-raised">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
