@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}
<body class="profile-page sidebar-collapse" style="background-color: #F2E7C4; height:200px">
    <div class="container">
        <div class="photo-container">
            <img src="../assets/img/my_profile.jpg" alt="">
        </div>
        <h3 class="title">Jo Hui Ji</h3>
        <p class="category"></p>
        </div>
    </div>
</body>
