@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}
<body class="profile-page sidebar-collapse">
    <div class="container">
        <div class="photo-container">
            <img src="../assets/img/ryan.jpg" alt="">
        </div>
        <h3 class="title">Ryan Scheinder</h3>
        <p class="category">Photographer</p>
        <div class="content">
            <div class="social-description">
                <h2>26</h2>
                <p>Comments</p>
            </div>
            <div class="social-description">
                <h2>26</h2>
                <p>Comments</p>
            </div>
            <div class="social-description">
                <h2>48</h2>
                <p>Bookmarks</p>
            </div>
        </div>
    </div>
</body>
