@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}



<div class="wrapper">
    <div class="container">
        <div class="photo-container">
            <img src="../assets/img/ryan.jpg" alt="">
        </div>
        <h3 class="title">Ryan Scheinder</h3>
        <p class="category">Photographer</p>
        <div class="content">
        </div>
    </div>
</div>
    <div class="container">
        <h4 class="title">About me</h4>
        <h5 class="description">초보개발자 입니다.</h5>
        <div class="row">
        </div>
    </div>

